@{
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h2>No New Requests</h2>
                    <a class="btn btn-app">
                        <span class="badge bg-red">0</span>
                        <i class="fa fa-bullhorn"></i> Notifications
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

